@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: CatchyMager;
    src: url('/Catchy Mager Regular.ttf');
}

.png-to-white {
    filter: brightness(0) invert(1);
}

.png-to-white:hover {
    filter: grayscale(100%)
}

* {
    transition: 300ms ease;
    font-family: 'CatchyMager', sans-serif;
    letter-spacing: 0.05em;
    line-height: 1.27;
}

.background-img-1 {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(https://lh3.googleusercontent.com/YE9M27VFTLKlrqhNPOtlSNv604PafTi7fEJ6awRRVTEy9RvvWA32Y0MiZ7awmUuwAlQk5Ot-qLNxq4REuazDew=w2880);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
}

html {
    scroll-behavior: smooth;
}

.carousel {
    width: 600px !important;
    margin: auto;

}

.carousel__main {
    height: 550px;
    margin: 0px 10px;
}

@media only screen and (max-width: 600px) {
    .carousel {
        width: 350px !important;    
    }
    
    .carousel__main {
        height: 400px;
    }
  }